
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Add Pet</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script th:src="@{/js/footer.js}" src="../static/js/footer.js"></script>
</head>
<body>
<main>
  <h1>Add Pet</h1>
  <form method="post" th:action="@{/add}" action="ConfirmInsert.html" th:object="${pet}">

    <div th:if="${#fields.hasErrors('*')}">
      <h3 class="error">Input Errors</h3>
      <ul>
        <li th:each="e: ${#fields.errors('*')}" th:text="${e}" class="error">Input Error</li>
      </ul>
    </div>
    <h2>Pet Details</h2>
    <p>
      <label for="name" class="group_label">Name</label><br>
      <input id="name" type="text" th:field="*{name}"/>
    </p>
    <p>
      <label for="kind" class="group_label">Kind</label><br>
      <input id="kind" type="text" th:field="*{kind}"/>
    </p>
    <p>
      <label for="sex" class="group_label">Sex</label><br>
      <input id="sex" type="text" th:field="*{sex}"/>
    </p>
    <p>
      <label class="group_label">Vaccinated</label><br>
      <label><input type="checkbox" th:field="*{vaccinated}" th:value="true"/>Yes</label>
    </p>
    <p>
      <input type="reset" value="Clear"/>
      <input type="submit" value="Add Pet"/>
    </p>
  </form>
  <p><a href="/" th:href="@{/}">Home</a></p>
  <p><a href="/list" th:href="@{/list}">List Pets</a></p>
</main>
</body>
</html>
